<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @branch.name %>
</p>

<p>
  <strong>Locality:</strong>
  <%= @branch.locality %>
</p>

<p>
  <strong>Address:</strong>
  <%= @branch.address %>
</p>

<p>
  <strong>Location map:</strong>
  <%= @branch.location_map %>
</p>

<p>
  <strong>Institution:</strong>
  <%= @branch.institution.name %>
</p>

<%= link_to 'Edit', edit_branch_path(@branch) %> |
<%= link_to 'Back', branches_path %>
