<%= form_with(model: question, local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ID %>
    <%= form.number_field :ID %>
  </div>

  <div class="field">
    <%= form.label :ANSWER1 %>
    <%= form.text_field :ANSWER1 %>
  </div>

  <div class="field">
    <%= form.label :ANSWER2 %>
    <%= form.text_field :ANSWER2 %>
  </div>

  <div class="field">
    <%= form.label :ANSWER3 %>
    <%= form.text_field :ANSWER3 %>
  </div>

  <div class="field">
    <%= form.label :ANSWER4 %>
    <%= form.text_field :ANSWER4 %>
  </div>

  <div class="field">
    <%= form.label :THEME %>
    <%= form.text_field :THEME %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
