<%= form_with(model: admission, local: true) do |form| %>
  <% if admission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admission.errors.count, "error") %> prohibited this admission from being saved:</h2>

      <ul>
      <% admission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ID %>
    <%= form.number_field :ID %>
  </div>

  <div class="field">
    <%= form.label :PERIOD_INSCRIPTION %>
    <%= form.text_field :PERIOD_INSCRIPTION %>
  </div>

  <div class="field">
    <%= form.label :VALUE_INSCRIPTION %>
    <%= form.text_field :VALUE_INSCRIPTION %>
  </div>

  <div class="field">
    <%= form.label :DATE_LIMIT %>
    <%= form.text_field :DATE_LIMIT %>
  </div>

  <div class="field">
    <%= form.label :REQUIREMENTS %>
    <%= form.text_field :REQUIREMENTS %>
  </div>

  <div class="field">
    <%= form.label :VACANCIES %>
    <%= form.text_field :VACANCIES %>
  </div>

  <div class="field">
    <%= form.label :INFO_ADDITIONAL %>
    <%= form.text_field :INFO_ADDITIONAL %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
