<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ID %>
    <%= form.number_field :ID %>
  </div>

  <div class="field">
    <%= form.label :NAMES %>
    <%= form.text_field :NAMES %>
  </div>

  <div class="field">
    <%= form.label :SURNAMES %>
    <%= form.text_field :SURNAMES %>
  </div>

  <div class="field">
    <%= form.label :EMAIL %>
    <%= form.text_field :EMAIL %>
  </div>

  <div class="field">
    <%= form.label :PASSWORD %>
    <%= form.text_field :PASSWORD %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
