<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @user.ID %>
</p>

<p>
  <strong>Names:</strong>
  <%= @user.NAMES %>
</p>

<p>
  <strong>Surnames:</strong>
  <%= @user.SURNAMES %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.EMAIL %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.PASSWORD %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
