<%= form_with(model: headquarter, local: true) do |form| %>
  <% if headquarter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(headquarter.errors.count, "error") %> prohibited this headquarter from being saved:</h2>

      <ul>
      <% headquarter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ID %>
    <%= form.number_field :ID %>
  </div>

  <div class="field">
    <%= form.label :NAME %>
    <%= form.text_field :NAME %>
  </div>

  <div class="field">
    <%= form.label :LOCATION %>
    <%= form.text_field :LOCATION %>
  </div>

  <div class="field">
    <%= form.label :ADDRESS %>
    <%= form.text_field :ADDRESS %>
  </div>

  <div class="field">
    <%= form.label :LOCATION_MAP %>
    <%= form.text_field :LOCATION_MAP %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
