<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @headquarter.ID %>
</p>

<p>
  <strong>Name:</strong>
  <%= @headquarter.NAME %>
</p>

<p>
  <strong>Location:</strong>
  <%= @headquarter.LOCATION %>
</p>

<p>
  <strong>Address:</strong>
  <%= @headquarter.ADDRESS %>
</p>

<p>
  <strong>Location map:</strong>
  <%= @headquarter.LOCATION_MAP %>
</p>

<%= link_to 'Edit', edit_headquarter_path(@headquarter) %> |
<%= link_to 'Back', headquarters_index_path %>
