<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @career.ID %>
</p>

<p>
  <strong>Title:</strong>
  <%= @career.TITLE %>
</p>

<p>
  <strong>Level education:</strong>
  <%= @career.LEVEL_EDUCATION %>
</p>

<p>
  <strong>Modality:</strong>
  <%= @career.MODALITY %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @career.DURATION %>
</p>

<p>
  <strong>Working day:</strong>
  <%= @career.WORKING_DAY %>
</p>

<p>
  <strong>Value semester:</strong>
  <%= @career.VALUE_SEMESTER %>
</p>

<p>
  <strong>Value curriculum:</strong>
  <%= @career.VALUE_CURRICULUM %>
</p>

<p>
  <strong>Qualified registration:</strong>
  <%= @career.QUALIFIED_REGISTRATION %>
</p>

<p>
  <strong>Num credits:</strong>
  <%= @career.NUM_CREDITS %>
</p>

<p>
  <strong>Area knowledge:</strong>
  <%= @career.AREA_KNOWLEDGE %>
</p>

<p>
  <strong>Info additional:</strong>
  <%= @career.INFO_ADDITIONAL %>
</p>

<%= link_to 'Edit', edit_career_path(@career) %> |
<%= link_to 'Back', careers_path %>
