<p id="notice"><%= notice %></p>

<h1>Institutions</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Description</th>
      <th>Character</th>
      <th>Address ppal</th>
      <th>Phones</th>
      <th>Website</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @institutions.each do |institution| %>
      <tr>
        <td><%= institution.ID %></td>
        <td><%= institution.NAME %></td>
        <td><%= institution.DESCRIPTION %></td>
        <td><%= institution.CHARACTER %></td>
        <td><%= institution.ADDRESS_PPAL %></td>
        <td><%= institution.PHONES %></td>
        <td><%= institution.WEBSITE %></td>
        <td><%= institution.EMAIL %></td>
        <td><%= link_to 'Show', institution %></td>
        <td><%= link_to 'Edit', edit_institution_path(institution) %></td>
        <td><%= link_to 'Destroy', institution, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Institution', new_institution_path %>
